@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

img {
  position: relative;
  align-items: center;
  align-content: center;
  align-self: center;
}

body {
  @include font-smoothing(on);
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  // background-color: #f5f5f5;
  background-color: rgb(51, 108, 161);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(227, 192, 64);

}

#first {
  // background-color: #f5f5f5;
  background-color: black;
  margin: 50px;
  margin-top: 30px;
   :hover {

   }
}

#I {
  font-size: 22px;
}

h3 {
  color: #f5f5f5;
}

#welcome {
  font-size: 38px;
  font-family: 'Lobster', cursive;
  color: #f5f5f5;
  padding:18px;
}

h2 {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  position: relative;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 28px;
  margin-bottom: 100px;
}

#pic {
  position: relative;
  border-radius: 0%;
  border: 12px solid thick black;
  align-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

p {
  margin: auto;
  position: relative;
  text-align: center;
}

#bio {
  background-color: black;
  margin: 50px;
  padding: 20px;
}

#hello {
  font-size: 22px;
  margin-bottom: 200px;
  color: white;
  text-align: center;
  font-family: 'Crimson Text', serif;
  padding: 18px;
}

#quoteOne {
// font-family: 'Inconsolata', monospace;
// font-family: 'Anton', sans-serif;
font-size: 28px;
color: white;
margin-bottom: 200px;
// font-family: 'Lobster', cursive;
font-family: 'Crimson Text', serif;
// font-family: 'Dancing Script', cursive;
// font-family: 'Passion One', cursive;
// font-family: 'Righteous', cursive;
}

#quoteTwo {
  font-size: 25px;
  color: white;
  margin-bottom: 100px;
  font-family: 'Crimson Text', serif;
}

#quoteThree {
  font-size: 25px;
  margin-bottom: 100px;
  font-family: 'Crimson Text', serif;
}

#skillsDescription {
  font-size: 22px;
  margin-bottom: 100px;
  font-family: 'Crimson Text', serif;
  text-align: center;

}


#skillSet {
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  display: flex;
  margin: 50px;
  padding: 50px;
  transition: all .2s ease-in-out;
    :hover {
      transform: scale(1.1);;
    }
}

#skillsHeader {
  margin-bottom: 50px;
  text-align: center;
  font-size: 28px;
}

#examples {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  margin: 100px;
}

#projects {

}

#goals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: black;
  margin: 50px;
  position: relative;
  flex:1;
  margin-bottom: 100px;
}

#insideTheMind {
  margin-bottom: 100px;
}

#nKorea {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 24px;
}

#Musk {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 24px;
}

#upperBody {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 24px;
}

#techNews {
  margin-bottom: 25px;
  font-size: 24px;
  margin-top: 25px;
}

#nKoreaImg {
  align-items: center;
  border-radius: 25%;
}

#MuskImg {
  align-items: center;
  border-radius: 25%;
}

#techNewsImg {
  align-items: center;
  border-radius: 25%;
}

#fitnessImg {
  align-items: center;
  border-radius: 25%;
}

#foot {
background-color: black;
height: 500px;
margin: 50px;
}

#copyright {
  color: white;
  text-align: center;
  position: relative;
  font-size: 22px;
  bottom: -200px;
}
